# QA Fix Verification Report
Game: Fshng game
Dev Team: Marcus C, Ayah, Biancca, Maddy, Evan Y
Date: 

# Summary
- Total Bugs from Week 6: 6
- Bugs Verified as Fixed: 
- Bugs Still Presend: 
- Regressions Found: 

# Bug Verification Details

## Bug #1
- Original Issue: No Ending/Win Condition
- Severity: Critical
- Status: ☐ Fixed
- Verification Notes: Added conditions for win and lose

## Bug #2
- Original Issue: Game Keeps Playing Even if User Catches No Fish
- Severity: High
- Status: ☐ Partially Fixed
- Verification Notes: You get 3 casts to meet the catch quota

## Bug #3
- Original Issue: No Maximum Amount of Rounds
- Severity: High
- Status: ☐ Fixed
- Verification Notes: Made max rounds 5

# Overall Assesment
- Game Status After Fixes: [Brief description of the game's current state]
- Recommendation for Dev Team: [What they should prioritize if they had more time]
- Testing Approach Used: [Did you re-run all your Week 6 scenarios? Play through new areas? Etc.]

# Sign-Off
### QA Team: 
* Marcus C
* Biancca
* Maddy
* Ayah
* Evan Y

Verification Completed: 
